:root {
    --overlay-color-1: #03a9f4;
    --overlay-color-2: #ffeb3b;
    --anim-duration: 2s;
}

#gradient {
    opacity: 0.8;
    background: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    background-image: linear-gradient(
        135deg,
        var(--overlay-color-2) 0%,
        var(--overlay-color-1) 100%
    );
    animation: GradientAnim var(--anim-duration) ease-in-out 5s infinite
        alternate;
    background-size: 200% 200%;
}

@keyframes GradientAnim {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 50% 0%;
    }
}

.diff-button {
    background: #212121;
    transition: GradientAnim 0.7s ease-in-out;
}

.diff-button:hover {
    opacity: 0.8;
    animation: GradientAnim var(--anim-duration) ease-in-out 5s infinite
        alternate;
    background-size: 200% 200%;
    color: black;
    background-image: linear-gradient(
        135deg,
        var(--overlay-color-2) 0%,
        var(--overlay-color-1) 100%
    );
    transition-duration: 0.7s;
}
