.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    column-gap: 0px;
    row-gap: 0px;
}

.card {
    border: 5px solid #ffcb05;
    display: flex;
    background-color: #2a75bb;
    border-radius: 15px;
    text-transform: capitalize;
    color: white;
    transition: transform 0.2s ease-in-out;
}

.spin-x {
    transform: rotateX(180deg);
}

.card.flip {
    animation: flip-card;
    animation-duration: 0.5s;
}

@keyframes flip-card {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

.card:hover {
    cursor: pointer;
    animation: flip-card;
}

.game {
    display: flex;
    justify-content: center;
}
.current-score {
    padding-right: 10px;
}

.youWon {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
